@import 'reset';

#dice-container {
    text-align: center;
}

.die {
    display: inline-block;
    cursor: pointer;
}

#available-dice-container {
    .die {
        margin: 15px;
        
        img {
            width: 75px;
        }
    }
}

#active-dice-container {
    
    .die {
        img {
            width: 105px;
            margin: 10px;
        }
    }
    
    button {
        margin: auto;
        display: block;
        padding: 10px;
        
    }
}

//#dice-pool {
//
//}
//
//img {
//    cursor: pointer;
//}
//
//.dice-container{
//    display: block;
//    width: 100vw;
//    height: 220px;
//}
//
//#active-dice {
//    display: block;
//    width: 100vw;
//    height: 40vh;
//    
//    img {
//        display: inline-block;
//        float: left;
//        margin: 10px;
//    }
//}
//
//.die {
//    display: inline-block;
//    float: left;
//}
//
//#results {
//    width: 100vw;
//    margin: 25px 0px;
//    
//    img {
//        display: inline-block;
//        float: left;
//    }
//}
//
//.dice-preview {
//    display: inline-block;
//    float: left;
//}
