@import 'reset';

$black: #000000;

#dice-pool {

}

img {
    cursor: pointer;
}

#active-dice {
    width: 100vw;
    height: 45vh;
    
    img {
        display: inline-block;
        float: left;
        margin: 25px;
    }
}

.die {
    display: inline-block;
    float: left;
}

#results {
    width: 100vw
    margin: 25px 0px;
}