@import 'reset';

$black: #000000;

.availableDice {
    display: inline-block;
    text-align: center;
}


//#dice-pool {
//
//}
//
//img {
//    cursor: pointer;
//}
//
//.dice-container{
//    display: block;
//    width: 100vw;
//    height: 220px;
//}
//
//#active-dice {
//    display: block;
//    width: 100vw;
//    height: 40vh;
//    
//    img {
//        display: inline-block;
//        float: left;
//        margin: 10px;
//    }
//}
//
//.die {
//    display: inline-block;
//    float: left;
//}
//
//#results {
//    width: 100vw;
//    margin: 25px 0px;
//    
//    img {
//        display: inline-block;
//        float: left;
//    }
//}
//
//.dice-preview {
//    display: inline-block;
//    float: left;
//}
