#dice-container {
  text-align: center;
  padding: 25px;
}
#dice-container section {
  margin: 10px 0px;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid grey;
  box-shadow: 0px 0px 4px grey;
}

button {
  margin: auto;
  display: block;
  padding: 15px;
  width: 135px;
}

.description {
  font-style: italic;
  margin: 25px;
}

.die {
  display: inline-block;
  cursor: pointer;
}

#available-dice-container .die {
  margin: 15px;
}
#available-dice-container .die img {
  width: 75px;
}
#available-dice-container .die .remaining-label {
  font-style: italic;
  font-size: 0.8em;
  display: block;
}
#available-dice-container .die .remaining-value {
  font-weight: bold;
  font-size: 2em;
  display: block;
}

#active-dice-container .die img {
  width: 105px;
  margin: 10px;
}
